doctype html
html(ng-app='app')
  head
    base(href='/index.html')
    title= title
    link(rel='stylesheet', href='/assets/css/main.css')
  body
    div(ui-view)

    script(src='/angular/angular.js')
    script(src='/angular-ui-router/release/angular-ui-router.js')
    for source in javascripts
        script(src='#{source}')

