doctype html
html(ng-app='app')
  head
    base(href='/index.html')
    title= title
    link(rel='stylesheet', href='/assets/css/main.css')
  body
    div(ui-view)

    for source in javascripts
        script(src='#{source}')

