doctype html
html(ng-app='app')
  head
    base(href='/index.html')
    title= title
    link(rel='stylesheet', href='/assets/css/main.css')
  body
    div(class=wrap)
      div(ui-view)
    h1 heyo, finally I can write something.

    script(src='/assets/js/main.js')

